<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Angel\Payout\Api\PayoutRepositoryInterface" type="Angel\Payout\Model\PayoutRepository"/>
	<preference for="Angel\Payout\Api\Data\PayoutInterface" type="Angel\Payout\Model\Data\Payout"/>
	<preference for="Angel\Payout\Api\Data\PayoutSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<!--<virtualType name="Angel\Payout\Model\ResourceModel\Payout\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">-->
		<!--<arguments>-->
			<!--<argument name="mainTable" xsi:type="string">angel_payout_payout</argument>-->
			<!--<argument name="resourceModel" xsi:type="string">Angel\Payout\Model\ResourceModel\Payout\Collection</argument>-->
		<!--</arguments>-->
	<!--</virtualType>-->
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="angel_payout_payout_listing_data_source" xsi:type="string">Angel\Payout\Model\ResourceModel\Payout\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
</config>